---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$font-family: 'Ubuntu Mono', monospace;
$heading-font-family:  'Nova Mono', monospace;

$color-dark: #333;
$color-light: #FCFCFC;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_normalize",
  "_skeleton"
;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  text-align: center;
  color: $color-dark;
}

body {
  background-color: #F7F7F7;
}

h1, h2 {
  margin-top: 10vh;
  margin-bottom: 6vh;
}

a {
  color: darken($color-dark, 33.333%);
}

p {
  text-align: center;
}

// Stylish things
.heading-bits {
  color: $color-light;
  background-color: $color-dark;
  margin-left: 4px;
}

.highlight {
  color: #AB47BC;
}

.redacted {
  padding-left: 1em;
  padding-right: 1em;
  color: $color-light;
  background-color: $color-dark;
}

hr {
  text-align: center;
  border-top: 0;
  border-bottom: 2px dashed $color-dark;
}

// Mugshots
.mugshots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;

  li {
    width: 30em;
    min-width: 256px;
    text-align: center;

    .mugshot {
      text-align: center;
      width: 100%;

      img {
        width: 10em;
        height: 10em;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
      }
    }

    p {
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      width: 80%;
    }
  }
}

.mugshot-circle {
  border-radius: 100%;
  overflow: hidden;
}

footer {
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  color: lighten($color-dark, 50%);
}
