<head>
  <!-- Generic -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- RSS -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nova+Mono|Ubuntu+Mono" rel="stylesheet">

  <!-- CSS -->
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
