<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <main class="container">
      {{ content }}
    </main>
    {% include analytics/google_analytics.html %}
  </body>

  <!-- HTTPS redirect -->
  {% if site.production %}
    {% include plumbing/https_redirect.html %}
  {% endif %}

  {% include footer.html %}
</html>
